{% extends "base/base.html" %}
{% load static %}

{% block title %}Register{% endblock title %}Register

{% block main %}
<section class="auth-wrapper">
    <div class="auth-card">
        <h2 class="auth-title">Register</h2>
        <p class="auth-subtitle">Create your account to get started</p>
        <p class="auth-subtitle" style="color: tomato">{{error}}</p>

        <form method="POST" class="auth-form">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" class="auth-input" required>
            <input type="email" name="email" placeholder="Email" class="auth-input" required>
            <input type="password" name="password" placeholder="Password" class="auth-input" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" class="auth-input" required>
            <button type="submit" class="auth-btn">Register</button>
        </form>

        <p class="auth-switch">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>
    </div>
</section>
{% endblock main %}
